version: '{{ docker_compose_version }}'
services:
  jenkins:
    image: jenkins/{{ jenkins.version }}
    container_name: jenkins
    restart: always
    environment:
      - TZ={{ time_zone }}
    volumes:
      - ./jenkins-data:{{ jenkins.volume_home }}
    ports:
      - '{{ jenkins.port80 }}:8080'
      - '{{ jenkins.port50000 }}:50000'
  
  gitlab:
    image: 'gitlab/gitlab-ce:{{ gitlab.version }}'
    container_name : 'gitlab'
    restart: always
    hostname: {{ gitlab.hostname }}
    environment:
      TZ: '{{ time_zone }}'
    volumes:
      - ./gitlab/etc:{{gitlab.volume.etc}}
      - ./gitlab/logs:{{gitlab.volume.logs}}
      - ./gitlab/data/:{{gitlab.volume.data}}
    ports:
      - '{{ gitlab.port80 }}:80'
